.contenedor {
    display: inline-flex;
}

.content-card {
    display: -webkit-box !important;
}

.card {
    width: 80% !important;
}

.col-md-6 {
    flex: 0 0 100% !important;
    max-width: 48% !important;
}

.col-md-12 {
    position: absolute !important;
}

.class-accordion {
    width: 100% !important;
}

.class-card-header {
    background-color: #338aff  !important;
    padding: unset !important;
}

.col-md-2, .panel {
    margin-left: -23% !important;
}

.expandir {
    display: none !important;   
}

.oculto {
    display: none !important;
}

.visible {
    display: "" !important;
    margin-left: -121% !important;
}

.expand{
    margin-left: 25% !important ;
}