.MenuBar-list-1 {
    margin-top: 3.5% !important;
    background-color: #338aff !important;
}

.MuiListItem-button {
    background-color: #338aff !important;
    color: black !important;
}

.MenuBar-links-2 {
    color: white !important;
}

